@{
    ViewBag.Title = "Home Page";
    int contador = 0;
}

<!DOCTYPE html>
<html>
<head>
    <title>Pagina principal</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Combos</h1>

    <style>
        .cuadroComestible {
            margin-bottom: 10px;
            padding: 1em;
        }

        img {
            border-radius: 0.5em;
            border: 2px solid #133b5c;
            box-shadow: 0px 0px 0px #ccc;
            height: 150px;
            width: 150px;
            object-fit: cover;
        }
    </style>

    <div class="row d-flex flex-wrap align-items-center">
        @foreach (var combo in ViewBag.combo)
        {
            <div class="cuadroComestible row d-flex flex-wrap align-items-center col-md-4">
                <img src=@Url.Action("ObtenerImagen", "Comestible", new { nombre = combo.nombre })>
                <h3>@combo.nombre</h3>
                <p>Contiene:</p>
                <ul>
                    <li>@combo.pizza</li>
                    <li>@combo.bebida</li>
                    <li>@combo.acompanante</li>
                </ul>
                <p>Precio: @combo.precio colones</p>
                @Html.ActionLink("Recoger", "recoger", "Pedido", new { nombre = combo.nombre.ToString() }, new { @class = "btn btn-success" })
                    @Html.ActionLink("A domicilio", "aDomicilio", "Pedido", new { nombre = combo.nombre.ToString() }, new { @class = "btn btn-success" })
            </div>
            if (contador <= 3)
            {
                contador = contador + 1;
            }
            else
            {
                break;
            }
        }
    </div>
</body>
</html>